.title{
    font-size: 3rem;
}

.info{
    display: flex;
    margin: 2rem 2rem 2rem 0;
    .search-block{
        margin-right: 2rem;
        .search{
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }
    .avatar-group{
        display: flex;
        margin: 0 1rem;
        .avatar{}
    }
    .text{
        font-size: 1.5rem;
        margin: 0 1rem;
    }
}